<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630485252696-nqat894ijujkigaipl5jokesh58sgs7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630485252696-nqat894ijujkigaipl5jokesh58sgs7o</string>
	<key>API_KEY</key>
	<string>AIzaSyCYvm4blHCJSEw453_Gir73QmuXZUTssPE</string>
	<key>GCM_SENDER_ID</key>
	<string>630485252696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatapp.zuhdipati</string>
	<key>PROJECT_ID</key>
	<string>chatapp-zuhdipati</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-zuhdipati.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630485252696:ios:0e3adce5af42f68d82a82d</string>
</dict>
</plist>